<!DOCTYPE html>

{%- if site.github_username -%} |
<a target="_blank" href="https://github.com/{{site.github_username}}">GitHub</a>
{%- endif -%}

{%- if site.linkedin_username -%} |
<a target="_blank" href="https://www.linkedin.com/in/{{site.linkedin_username}}">LinkedIn</a>
{%- endif -%}

{%- if site.twitter_username -%} |
<a target="_blank" href="https://www.twitter.com/{{site.twitter_username}}">Twitter</a>
{%- endif -%}

{%- if site.medium_username -%} |
<a target="_blank" href="https://{{site.linkedin_username}}.medium.com">Medium</a>
{%- endif -%}