<!-- Footer
================================================== -->
<footer class="container footer-container">
  <div class="row">
    <div class="col-md-6 col-sm-6 text-center text-lg-left">
      <p>Copyright © {{ site.time | date: "%Y" }} {{ site.name }}</p>
    </div>
    <div class="col-md-6 col-sm-6 text-center text-lg-right">
      <p>
        {{ site.name | escape }} -
        <a href="mailto:{{ site.email }}" target="_blank">{{ site.email | escape }}</a>
        {%- if site.footer_show_references -%}
        {%include footer_links.html%}
        {%- endif -%}
      </p>
    </div>
  </div>
</footer>
<!-- End Footer
================================================== -->