@import "base";
@import "button";
@import "type";
@import "dark";
@import "icons";

.header-right p {
  margin-bottom: 3px;
}

.header-right a{
  color:inherit;
  font-weight:500;
}

@media screen and (max-width: 768px) {
  .header-contianer div{
    text-align: center;
  }

  .header-right p {
    text-align: center;
  }

  .header-left {
    margin-top: 0px;
  }
}

.profile-img {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 20px;
  display: block;
  border-radius: 100px;
  background-size: cover;
  background-position: center;
  background-repeat: repeat, no-repeat;
  -moz-box-shadow: inset 0 0 20px #636161;
  -webkit-box-shadow: inset 0 0 20px #636161;
  box-shadow: inset 0 0 20px #636161;
}

.into-text-1 {
  margin-top: 30px;
}

@media only screen and (max-width : 992px) {
  .into-text-1 {
    margin-top: 20px;
  }
}

.projects-container, .experience-container, .education-container {
  h3 {
    margin-bottom: 0;
  }
}

.layout {
  margin-top: 3rem;

  .details {
    text-align: left;

    p {
      margin-bottom: 3px;
      font-size: 1.6rem;
      text-align: inherit;
      font-weight: 300;

      b {
        font-weight: 500;
      }
    }

    @media screen and (max-width: 768px) {
      text-align: center!important;

      p {
        text-align: center!important;
      }
    }

    a {
      color: inherit;
      font-style: italic;
      font-weight: 300;
    }

    .fa {
      font-size: 2rem;
    }

    .link {
      font-size: 1.5rem;
    }

    h4 {
      margin-bottom: 0.1rem;
      font-weight: 500;

      @media print {
        margin-bottom: 0.2rem;
      }

      a {
        font-weight: 500;
      }
    }
  }
}

.layout-right, .layout-top-right {
  .details {
    text-align: right;
  }
}

.layout-right {
  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.layout-top-right {
  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }
}

.layout-top-middle {
  .details {
    text-align: center;
  }
}

.footer-container {
  margin-top:100px;
}

.footer-container p {
  text-align: center;
  font-style: italic;
  font-weight: 300;
}

.footer-container a {
  color: inherit;
  font-style: italic;
  font-weight: 300;
}

.page-content {
  padding: 0;
}

.contact a {
  line-height: 50px;
  margin-left: 30px;
  color: #BBBBBB;
  -webkit-transition: color 0.4s ease;
  -moz-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

.contact a:hover {
  color: #4C4C4C;
}

p.quote {
  font-size: 1.4rem;
  font-style: italic;
  padding: 1rem 2.5rem;
  text-align: center;

  @media print {
    text-align: left;
    padding: 0rem 1rem;
    margin-top: 1rem;
  }
}


.menu-3{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  list-style: none;
}

.menu-3 li {
  width: 105px;
  height: 50px;
  transition: background-position-x 0.6s linear;
  text-align: center;
}
.menu-3 li a {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.45s;
}
.menu-3 li:hover {
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEi%0D%0AIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhs%0D%0AaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0%0D%0AaD0iMzkwcHgiIGhlaWdodD0iNTBweCIgdmlld0JveD0iMCAwIDM5MCA1MCIgZW5hYmxlLWJhY2tn%0D%0Acm91bmQ9Im5ldyAwIDAgMzkwIDUwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZmlsbD0i%0D%0Abm9uZSIgc3Ryb2tlPSIjZDk0ZjVjIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLW1pdGVybGlt%0D%0AaXQ9IjEwIiBkPSJNMCw0Ny41ODVjMCwwLDk3LjUsMCwxMzAsMAoJYzEzLjc1LDAsMjguNzQtMzgu%0D%0ANzc4LDQ2LjE2OC0xOS40MTZDMTkyLjY2OSw0Ni41LDI0My42MDMsNDcuNTg1LDI2MCw0Ny41ODVj%0D%0AMzEuODIxLDAsMTMwLDAsMTMwLDAiLz4KPC9zdmc+Cg==");
  -webkit-animation: line 1s;
  animation: line 1s;
}
.menu-3 li:hover a {
  color: darkred;
}
.menu-3 li:not(:last-child) {
  margin-right: 10px;
}

@-webkit-keyframes line {
  0% {
    background-position-x: 390px;
  }
}

@keyframes line {
  0% {
    background-position-x: 390px;
  }
}